@using Microsoft.AspNetCore.Identity
@model QuizApp.ViewModels.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<form class="form-signin" asp-controller="Account" asp-action="ChangePassword" method="post">
    <img class="mb-4" src="~/images/icons8-password-64.png" alt="" width="72" height="72">
    <h1 class="h1 mb-3 display-4">Quiz App</h1>
    <h4 class="h4 mb-3 font-weight-normal">Change password</h4>
    <div class="form-group">
        <label asp-for="Login" class="sr-only">Login</label>
        <input asp-for="Login" class="form-control" placeholder="Login" required autofocus>
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CurrentPassword" class="sr-only">Current Password</label>
        <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Current Password" required>
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="sr-only">New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" required autofocus>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RepeatPassword" class="sr-only">Repeat Password</label>
        <input asp-for="RepeatPassword" type="password" class="form-control" placeholder="Repeat Password" required>
        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
    <a class="btn btn-lg btn-warning btn-block" asp-controller="Account" asp-action="SignIn">Sign In</a>
    <p class="mt-5 mb-3 text-muted">&copy; @DateTime.Now.Year | Quiz App</p>
</form>