@model System.Collections.Generic.List<Microsoft.AspNetCore.Identity.IdentityRole<int>>

@{
    Layout = "~/Views/Shared/_Admin.cshtml";

}


<p class="display-4">Role</p>
<hr />

<div class="row">
    <div class="col-4 float-right">
        <ul class="list-group list-group-flush">
            @foreach (var role in Model)
            {
                <li class="list-group-item">#@role.Id @role.Name</li>
            }
        </ul>
    </div>
</div>

<h2 class="display-4">Users</h2>
<hr />
<div class="row">
    <div class="col-4">
        <ul class="list-group list-group-flush">
            @foreach (var user in ViewBag.Users)
            {
                <li class="list-group-item">
                    #@user.Id @user.Name
                    @if (user.Id == 1)
                    {
                    }
                    else
                    {
                        <form asp-controller="Role" asp-action="AddToUserRole" asp-route-userName="@user.UserName" method="post">
                            <button class="btn btn-sm btn-outline-warning" type="submit">Add to User role</button>
                        </form>
                    }
                </li>
            }
        </ul>
    </div>
</div>
