@*model IEnumerable<QuizApp.Models.QuizCategoryModel>*@

@{
    ViewData["Title"] = "Quiz App | Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="h4 font-weight-bold">Categories</h4>

<p>
    <a asp-controller="QuizCategory" asp-action="Create">Create New</a>
</p>
<table class="table table-responsive">
    <thead>
    <tr class="bg-info">
        <th>Image</th>
        <th>Category Name</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Categories)
        {
        <tr>
            <td>@item.ImagePath</td>
            <td>@item.CategoryName</td>
            <td>
                <a asp-controller="QuizCategory" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="QuizCategory" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
