@model QuizApp.Models.QuizModel

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<p class="display-4">Edit quiz</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalQuestions" class="control-label"></label>
                <input asp-for="TotalQuestions" class="form-control" />
                <span asp-validation-for="TotalQuestions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassingPercentage" class="control-label"></label>
                <input asp-for="PassingPercentage" class="form-control" />
                <span asp-validation-for="PassingPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Quiz" asp-action="Index">Back to List</a>
</div>

