@{
    ViewData["Title"] = "Quiz App | User panel";
    Layout = "~/Views/Shared/_User.cshtml";

}

<div class="p-3 mb-2">
    <p class="display-4">Hello <span class="font-weight-bold text-warning">@User.Identity.Name</span>,</p>
    <p class="display-4">welcome to Quiz App!</p>
</div>
<div class="mt-2">
    <p class="h4 font-weight-light">Attempt new quiz!</p>
    <span class="h5 font-weight-light font-italic">Good luck!</span><img class="ml-3" src="~/images/icons8-paper-plane-64.png">
</div>