@model QuizApp.Models.CategoryModel

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<p class="display-4">Delete category</p>
<hr/>

<table class="table table-responsive">
    <thead>
    <tr class="bg-info text-white">
        <th>Category</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Name</td>
        <td>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a asp-controller="Category" asp-action="Index">Back to List</a>
</div>
