@model System.Collections.Generic.IEnumerable<QuizApp.Models.CategoryModel>

@{
    ViewData["Title"] = "Quiz App | Categories";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<p class="display-4">Categories</p>
<hr />

<p>
    <a class="link" asp-controller="Category" asp-action="Create">Create New</a>
</p>

<table class="table table-responsive">
    <thead>
        <tr class="bg-info text-white">
            <th>Category</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-success" asp-controller="Quiz" asp-action="Create" asp-route-categoryId="@item.Id">Add quiz</a>
                        <a class="btn btn-warning" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
