@model QuizApp.Models.QuestionModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h4 class="h4 font-weight-bold">Delete</h4>

<table class="table table-responsive">
    <thead>
    <tr class="bg-info">
        <th>QuizId</th>
        <th>Question</th>
        <th>Correct Answer</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td @Model.QuizId</td>
        <td>@Model.Question</td>
        <td>@Model.CorrectAnswer</td>
        <td>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </td>
    </tr>
    </tbody>
</table>